<a href="https://colab.research.google.com/github/waldals/MidTerm_Project/blob/main/datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_full = pd.read_pickle(r'/content/drive/MyDrive/df_full50k.pkl')

In [ ]:
df = df_full

In [ ]:
df.head()

             fl_date mkt_unique_carrier  ... longest_add_gtime no_name
10778864  2018-02-09                 F9  ...               NaN     NaN
12088984  2018-04-14                 UA  ...               NaN     NaN
14272108  2019-04-19                 DL  ...               NaN     NaN
6164840   2019-11-09                 AS  ...               NaN     NaN
9767090   2019-01-24                 NK  ...               NaN     NaN

[5 rows x 42 columns]

In [ ]:
df.isnull().values.any()

True

In [ ]:
# missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [ ]:
df2 = missing_data[missing_data['Percent'] > 0.4]
to_drop = df2.index.tolist()
df1 = df.drop(to_drop, axis=1, inplace=True)

In [ ]:
# missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [ ]:
#replace NaNs with 0, or something 
df = df.replace(np.nan, 0)

In [ ]:
df.isnull().values.any()

False

In [ ]:
df = df.drop(['flights','mkt_unique_carrier','op_unique_carrier','origin_city_name','dest_airport_id','origin_airport_id','dest_city_name','dup','branded_code_share','tail_num','op_carrier_fl_num'],axis=1)

In [ ]:
df.head(1)

             fl_date mkt_carrier  ...  air_time distance
10778864  2018-02-09          F9  ...      38.0    216.0

[1 rows x 21 columns]

In [ ]:
df.fl_date = pd.to_datetime(df.fl_date)
df['year'] = df.fl_date.dt.year
df['month'] = df.fl_date.dt.month
df['day'] = df.fl_date.dt.day

In [ ]:
df.to_pickle('/content/drive/MyDrive/df_clean_sample50k.pkl')

In [ ]:
df.to_csv('/content/drive/MyDrive/df_clean_sample50k.csv')

In [ ]:
df.head()

            fl_date mkt_carrier  mkt_carrier_fl_num  ...  year month  day
10778864 2018-02-09          F9                 777  ...  2018     2    9
12088984 2018-04-14          UA                4043  ...  2018     4   14
14272108 2019-04-19          DL                 747  ...  2019     4   19
6164840  2019-11-09          AS                 677  ...  2019    11    9
9767090  2019-01-24          NK                 689  ...  2019     1   24

[5 rows x 24 columns]

In [ ]:
df_sub = df.drop(['mkt_carrier',	'mkt_carrier_fl_num',	'origin',	'dest'],axis=1)

In [ ]:
df_sub.head(1)

            fl_date  crs_dep_time  dep_time  ...  year  month  day
10778864 2018-02-09          1257    1250.0  ...  2018      2    9

[1 rows x 20 columns]

In [ ]:
df_dummy = pd.get_dummies(df)

In [ ]:
df_dummy.head()

            fl_date  mkt_carrier_fl_num  ...  dest_YKM  dest_YUM
10778864 2018-02-09                 777  ...         0         0
12088984 2018-04-14                4043  ...         0         0
14272108 2019-04-19                 747  ...         0         0
6164840  2019-11-09                 677  ...         0         0
9767090  2019-01-24                 689  ...         0         0

[5 rows x 764 columns]

In [ ]:
from scipy.signal import correlate
corr_matrix = df_sub.corr().abs()

In [ ]:
corr_matrix

                     crs_dep_time  dep_time  ...     month       day
crs_dep_time             1.000000  0.898152  ...  0.005376  0.004045
dep_time                 0.898152  1.000000  ...  0.002863  0.000288
dep_delay                0.094090  0.118248  ...  0.000217  0.003209
taxi_out                 0.008026  0.066919  ...  0.005398  0.010265
wheels_off               0.874446  0.975557  ...  0.001682  0.001863
wheels_on                0.593102  0.693895  ...  0.001191  0.003031
taxi_in                  0.010420  0.010673  ...  0.006155  0.010541
crs_arr_time             0.003603  0.005677  ...  0.002073  0.001790
arr_time                 0.003633  0.000474  ...  0.002594  0.005085
arr_delay                0.001355  0.001481  ...  0.000565  0.004395
cancelled                0.007536  0.006647  ...  0.009916  0.007466
diverted                 0.000888  0.002692  ...  0.004097  0.003631
crs_elapsed_time         0.005086  0.004887  ...  0.006664  0.009668
actual_elapsed_time      0.002690  0.002968  ...  0.002643  0.007665
air_time                 0.003861  0.004053  ...  0.003042  0.006081
distance                 0.005281  0.004968  ...  0.004986  0.007448
year                     0.000994  0.002369  ...  0.000265  0.000186
month                    0.005376  0.002863  ...  1.000000  0.008058
day                      0.004045  0.000288  ...  0.008058  1.000000

[19 rows x 19 columns]

In [ ]:
#Correlation with output variable
cor_target = abs(corr_matrix["arr_delay"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.6]
relevant_features

arr_delay    1.0
Name: arr_delay, dtype: float64

In [ ]:
# cumulative variance explained graph 
# do this with df_dummies