# Train data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train_data = pd.read_pickle('/content/drive/MyDrive/merge_sample_full_new.pkl')

In [ ]:
train_data.head(1)

             fl_date mkt_unique_carrier  ... longest_add_gtime no_name
11118850  2018-02-26                 DL  ...               NaN     NaN

[1 rows x 42 columns]

# Test data

In [ ]:
#FINAL DATA
final_data_original = pd.read_pickle('/content/drive/MyDrive/flights_test.pkl')

In [ ]:
final_data_original.head(1)

     fl_date mkt_unique_carrier  ... flights distance
0 2020-01-01                 WN  ...       1      363

[1 rows x 20 columns]

# Clean Data

In [ ]:
pip install datacleaner

Requirement already satisfied: datacleaner in /usr/local/lib/python3.6/dist-packages (0.1.5)
Requirement already satisfied: update-checker in /usr/local/lib/python3.6/dist-packages (from datacleaner) (0.18.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from datacleaner) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from datacleaner) (1.1.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from update-checker->datacleaner) (2.23.0)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->datacleaner) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->datacleaner) (1.0.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->datacleaner) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->datacleaner) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->datacleaner) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker->datacleaner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker->datacleaner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker->datacleaner) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker->datacleaner) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->datacleaner) (1.15.0)

In [ ]:
from datacleaner import autoclean

## Train Clean

In [ ]:
#to know the missing values
tdata=train_data
total = tdata.isnull().sum().sort_values(ascending=False)
percent = (tdata.isnull().sum()/tdata.isnull().count()).sort_values(ascending=False)
missing_datat = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_datat.head(20)

                     Total  Percent
no_name              50000  1.00000
total_add_gtime      49624  0.99248
first_dep_time       49624  0.99248
longest_add_gtime    49624  0.99248
cancellation_code    49145  0.98290
late_aircraft_delay  40645  0.81290
security_delay       40645  0.81290
nas_delay            40645  0.81290
weather_delay        40645  0.81290
carrier_delay        40645  0.81290
air_time               980  0.01960
arr_delay              969  0.01938
actual_elapsed_time    960  0.01920
wheels_on              900  0.01800
taxi_in                893  0.01786
wheels_off             879  0.01758
taxi_out               879  0.01758
arr_time               873  0.01746
dep_delay              860  0.01720
dep_time               846  0.01692

In [ ]:
#remove the columns with missing data more than 40 percent
missing_datat[missing_datat['Percent']>.40].index.to_list()
tdata.loc[:,missing_datat[missing_datat['Percent']>.40].index.to_list()]
data_columnt=tdata.drop(missing_datat[missing_datat['Percent']>.40].index.to_list(),axis=1)
data_column = data_columnt

In [ ]:
#filling the nan value with mean or median value
median = data_column["arr_delay"].median()
data_column["arr_delay"].fillna(median, inplace=True)
median1=data_column["air_time"].median()
data_column["air_time"].fillna(median1, inplace=True)
median2=data_column["actual_elapsed_time"].median()
data_column["actual_elapsed_time"].fillna(median2,inplace=True)
median3=data_column["taxi_in"].median()
data_column["taxi_in"].fillna(median3,inplace=True)
median4=data_column["arr_time"].median()
data_column["arr_time"].fillna(median4,inplace=True)
median5=data_column["wheels_on"].median()
data_column["wheels_on"].fillna(median5,inplace=True)
median6=data_column["taxi_out"].median()
data_column["taxi_out"].fillna(median6,inplace=True)
median7=data_column["wheels_off"].median()
data_column["wheels_off"].fillna(median7,inplace=True)
median8=data_column["dep_delay"].median()
data_column["dep_delay"].fillna(median8,inplace=True)
median9=data_column["dep_time"].median()
data_column["dep_time"].fillna(median9,inplace=True)

In [ ]:
data_column.fillna(0)

In [ ]:
#checking for nan values
data=data_column
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                    Total  Percent
distance                0      0.0
flights                 0      0.0
mkt_unique_carrier      0      0.0
branded_code_share      0      0.0
mkt_carrier             0      0.0
mkt_carrier_fl_num      0      0.0
op_unique_carrier       0      0.0
tail_num                0      0.0
op_carrier_fl_num       0      0.0
origin_airport_id       0      0.0
origin                  0      0.0
origin_city_name        0      0.0
dest_airport_id         0      0.0
dest                    0      0.0
dest_city_name          0      0.0
crs_dep_time            0      0.0
dep_time                0      0.0
dep_delay               0      0.0
taxi_out                0      0.0
wheels_off              0      0.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 11118850 to 4357767
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              50000 non-null  object
 1   mkt_unique_carrier   50000 non-null  object
 2   branded_code_share   50000 non-null  object
 3   mkt_carrier          50000 non-null  object
 4   mkt_carrier_fl_num   50000 non-null  int64
 5   op_unique_carrier    50000 non-null  object
 6   tail_num             50000 non-null  object
 7   op_carrier_fl_num    50000 non-null  int64
 8   origin_airport_id    50000 non-null  int64
 9   origin               50000 non-null  object
 10  origin_city_name     50000 non-null  object
 11  dest_airport_id      50000 non-null  int64
 12  dest                 50000 non-null  object
 13  dest_city_name       50000 non-null  object
 14  crs_dep_time         50000 non-null  int64
 15  dep_time             50000 non-null  float64
 16  dep_delay            50000 non-null  float64
 17  taxi_out             50000 non-null  float64
 18  wheels_off           50000 non-null  float64
 19  wheels_on            50000 non-null  float64
 20  taxi_in              50000 non-null  float64
 21  crs_arr_time         50000 non-null  int64
 22  arr_time             50000 non-null  float64
 23  arr_delay            50000 non-null  float64
 24  cancelled            50000 non-null  float64
 25  diverted             50000 non-null  float64
 26  dup                  50000 non-null  object
 27  crs_elapsed_time     50000 non-null  float64
 28  actual_elapsed_time  50000 non-null  float64
 29  air_time             50000 non-null  float64
 30  flights              50000 non-null  float64
 31  distance             50000 non-null  float64
dtypes: float64(15), int64(6), object(11)
memory usage: 12.6+ MB

In [ ]:
my_clean_data = autoclean(data)

TypeError: ignored

In [ ]:
my_clean_data.head()

In [ ]:
train_df = my_clean_data.copy()

## Test Clean

In [ ]:
final_data=final_data_original.copy()

In [ ]:
final_data['fl_date'] = final_data.fl_date.dt.date

In [ ]:
final_data.fl_date = final_data.fl_date.astype('object')

In [ ]:
#to know the missing values
fdata=final_data
total = fdata.isnull().sum().sort_values(ascending=False)
percent = (fdata.isnull().sum()/fdata.isnull().count()).sort_values(ascending=False)
missing_dataf = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_dataf.head(20)

In [ ]:
my_clean_dataf = autoclean(fdata)

In [ ]:
final_df = my_clean_dataf.copy()

# Train Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
X = train_df.loc[:,['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance']]
y = train_df['arr_delay']

In [ ]:
from sklearn.model_selection import train_test_split # Import train_test_split function
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(bootstrap=True, max_depth=90,max_features= 7, min_samples_leaf=6,min_samples_split=9,n_estimators=450)

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
y_pred_test=rf.predict(X_test)

In [ ]:
print("----------------- TRAINING ------------------------")
print("r-squared score: ",rf.score(X_train, y_train))
print("------------------- TEST --------------------------")
print("r-squared score: ", rf.score(X_test,y_test))

# Perform Test

In [ ]:
X_final = final_data.copy()

In [ ]:
y_pred_final=rf.predict(X_final)

In [ ]:
y_pred_final.shape

# Export Data

In [ ]:
df = final_data_original.copy()

In [ ]:
df.shape

In [ ]:
df['predicted_delay'] = y_pred_final

In [ ]:
df.head()

In [ ]:
df_final = df.loc[:,['fl_date',	'mkt_carrier',	'mkt_carrier_fl_num',	'origin',	'dest',	'predicted_delay']]

In [ ]:
df_final.head()

In [ ]:
df_final.to_csv('/content/drive/MyDrive/submission.csv')